@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: var(--base-primary);
    --color-secondary: var(--base-secondary);
    --color-surface: var(--base-surface);
    --color-background: var(--base-bg);
    --color-text: var(--base-text);
    --color-on-surface: var(--base-on-surface);
}

/* 2. Menentukan nilai variabel CSS berdasarkan tema */
@layer base {
    :root {
        /* Palet Tema Terang (Light Mode) */
        --base-primary: #4A3A2A;
        --base-secondary: #30251A;
        --base-surface: #FFFFFF;
        --base-bg: #FCFCFC;
        --base-text: #333333;
        --base-on-surface: #333333;
    }

    /* Palet Tema Gelap (Dark Mode) */
    /* Gunakan .dark jika memakai tombol toggle class, atau 
     @media (prefers-color-scheme: dark) untuk mengikuti sistem OS */
    .dark {
        --base-primary: #d5c4b4;
        --base-secondary: #e4d9cd;
        --base-surface: #131313;
        --base-bg: #030303;
        --base-text: #cccccc;
        --base-on-surface: #cccccc;
    }

    /* Terapkan warna dasar secara otomatis ke body */
    body {
        background-color: var(--base-bg);
        color: var(--base-text);
    }
}